.list {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #ffffff;
  color: #333333;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.item:hover {
  background-color: #fafafa;
}

.item:first-child {
  border-radius: 1rem 1rem 0 0;
}

.item:last-child {
  border-radius: 0 0 1rem 1rem;
}

.item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.lightColor {
  color: #888888;
}

.header {
  font-size: 1.3rem;
  font-weight: 600;
}
