.root {
  min-height: 100vh;
  padding: 2rem 20rem;
  background-color: #f0f0f0f0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #ffffff;
  color: #333333;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  list-style: none;
}

.item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.error {
  color: #ff0000;
  margin-left: 1rem;
}

.label {
  font-weight: bold;
  margin: 0 1rem;
}

.button {
  border: 1px solid #ccc;
  color: #333333;
  margin-left: 1rem;
  padding: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.fieldset {
  flex: 1;
}

.lightColor {
  color: #888888;
}

.header {
  font-size: 1.3rem;
  font-weight: 600;
}
